# Runtime
pids
*.pid
*.seed
*.pid.lock

# Logs and reports
*.log
*.tgz
*.tsbuildinfo
.nyc_output
coverage/
report.*.json

# Dependencies
node_modules/
bower_components/
jspm_packages/
web_modules/

# Build / Cache
build/
dist/
.next/
.cache/
.parcel-cache/
.nuxt/
.vuepress/dist
.temp
.docusaurus
.serverless/
.fusebox/
.dynamodb/

# Yarn / npm
.npm
.yarn-integrity
.yarn/
.pnp.*

# Linting cache
.eslintcache
.stylelintcache

# Env files
.env
.env.*
!.env.example

# IDEs
.vscode/
.idea/
.vscode-test
.tern-port
.node_repl_history
